<a href="https://colab.research.google.com/github/CandraHarefa/Candra_Harefa/blob/main/UTS_candra_andri_putra_harefa_kecerdasan_buatan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

TUGAS 1 Mendaftar semua Company dan urutkan berdasarkan Nama Company dalam urutan terbalik.

In [4]:
company_names = sorted([company['name'] for company in company_detail_list], reverse=True)
print("Mengurutkan terbalik :", company_names)

Mengurutkan terbalik : ['Company 3', 'Company 2', 'Company 1']

TUGAS 2 Mencetak semua nilai Domain di setiap Company.

In [5]:
def print_company_domains(company_detail_list):
    for company in company_detail_list:
        print(f"{company['name']}: {company['domain']} ({company['country']})")
print_company_domains(company_detail_list)

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

TUGAS 3 Mendaftarkan semua employes yang bekerja di setiap Company berdasarkan domain.

In [6]:
employees_by_domain = {}
for company in company_detail_list:
    domain = company['domain']
    company_name = company['name']

    employees_in_domain = [
        employee['full_name']
        for employee in employee_detail_list
        if employee['company'] == company_name
    ]

    employees_by_domain[domain] = employees_in_domain

print("Employees by Domain:")
for domain, employees in employees_by_domain.items():
    print(f"{domain}: {employees}")

Employees by Domain:
Retail: ['John Doe', 'Ying Han Tan', 'Robert White']
Technology: ['Tom Smith', 'Rubby Lee']
Healthcare: ['Andrew Sebastian', 'Kenneth Ng']

TUGAS 4 Membuat fungsi yang mengembalikan employes dengan country company mereka.

In [7]:
def employees_with_company_country():
    result = []
    for employee in employee_detail_list:
        company_name = employee['company']
        company_country = next(
            (company['country'] for company in company_detail_list if company['name'] == company_name), None
        )
        if company_country:
            result.append({
                'employee_name': employee['full_name'],
                'company': company_name,
                'country': company_country
            })
    return result

print("Employees with their Company's Country:")
for item in employees_with_company_country():
    print(item)

Employees with their Company's Country:
{'employee_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}
{'employee_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}
{'employee_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}
{'employee_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}
{'employee_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}
{'employee_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}
{'employee_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}

TUGAS 5 Membuat fungsi yang mengembalikan data company beserta jumlah kewarganegaraan employes yang bekerja di company tersebut.

In [8]:
from collections import Counter
def companies_with_nationality_count():
    result = []
    for company in company_detail_list:
        company_name = company['name']

        # Collect nationalities of employees in this company
        nationalities = [
            employee['nationality']
            for employee in employee_detail_list
            if employee['company'] == company_name
        ]

        # Count occurrences of each nationality
        nationality_count = dict(Counter(nationalities))

        result.append({
            'company_name': company_name,
            'nationality_count': nationality_count
        })
    return result

print("Companies with Number of Employee Nationalities:")
for item in companies_with_nationality_count():
    print(item)

Companies with Number of Employee Nationalities:
{'company_name': 'Company 1', 'nationality_count': {'Australia': 2, 'United Kingdom': 1}}
{'company_name': 'Company 2', 'nationality_count': {'United States': 1, 'Hong Kong': 1}}
{'company_name': 'Company 3', 'nationality_count': {'United States': 2}}